includes:
    - phpstan-baseline.neon
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    excludePaths:
        - tests/Pest.php
        - tests/Fixtures/*
